<!-- muestra un usuario gestor en una fila, y haciendo click en el nombre lanza un modal para ver/editar -->
<hr class='w-100'>
<div class="row">
  <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4"><a class="" data-toggle="modal"
      data-target="#modalUsuarioGestor" (click)='usuarioGestorSeleccionado.emit(usuarioGestor)'><fa-icon [icon]="faEdit" class="mr-2"></fa-icon> {{usuarioGestor.nombre | titlecase}}</a></div>
  <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8" *ngIf='usuarioGestor'>{{usuarioGestor.descripcion}}</div>
</div>