<footer class="footer fixed-bottom mb-2">
  <div class="row py-3">
    <div class="col-8 text-right">
      <a target="_blank" rel="noopener"
        href="http://intra.mdef.es/portal/intradef/Ministerio_de_Defensa/Ejercito_de_Tierra">
        <span class="mr-4">Ejército de Tierra</span>
      </a>
      <a target="_blank" rel="noopener"
        href="http://intra.mdef.es/portal/intradef/Ministerio_de_Defensa/Ejercito_de_Tierra_-_UCO/UCO/UCO:132">
        <span>CENAD San Gregorio</span>
      </a>
    </div>
    <div class="col-4 text-right pr-5">
      <a routerLink="cenads">
        <span>Superadministrador</span>
      </a>
    </div>
    <!--luego lo quitaremos de aqui porque ira dentro de la pagina de un cenad concreto-->
    <div class="col text-right pr-5">
      <a routerLink="categorias">
        <span>Categorias</span>
      </a>
    </div>
  </div>
</footer>