<div class="container">
  <hr class='w-100'>
  <div class="row justify-content-end">
    <button class="btn text-white" routerLink="/categorias/formulario">Nueva Categoría</button>
  </div>
  <hr class='w-100'>
  <div class="row">
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"><b>CATEGORIA</b></div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"><b>CATEGORIA PADRE</b></div>
    <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6"><b>DESCRIPCIÓN</b></div>
  </div>

  <div *ngFor="let categoria of categorias">
    <app-categoria [categoria]="categoria" (categoriaSeleccionada)="verDatos($event)"></app-categoria>
  </div>
  <!-- Modal categoria-->
  <div class="modal fade" id="modalCategoria" tabindex="-1" role="dialog" aria-labelledby="datosCategoria" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datosCategoria"><b>Datos Completos de la Categoria</b> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-categoria-ficha *ngIf='categoriaVerDatos' [categoria]='categoriaVerDatos' (categoriaEliminar)='onCategoriaEliminar($event)'
            (categoriaEditar)='onCategoriaEditar($event)'></app-categoria-ficha>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn text-white" data-dismiss="modal" (click)="ngOnInit()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>