<div class="container">
  <div class="row mt-2">
    <div class="col-9 text-center">
      <h3 class="bienvenido text-center titulo1"><u>GESTIÓN DE RECURSOS</u> </h3>
    </div>
    <div class="col-3 text-right">
      <button class="btn text-white" [routerLink]="['formulario', idCenad]">Nuevo Recurso</button>
    </div>
  </div>
  <!-- <hr class='w-100'>
  <div class="row justify-content-end">
    <button class="btn text-white" [routerLink]="['formulario', idCenad]">Nuevo Recurso</button>
  </div> -->
  <hr class='w-100'>
  <div class="row">
    <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4 titulo"><b>NOMBRE</b></div>
    <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4 titulo"><b>CATEGORIA</b></div>
    <div class="col-10 col-sm-10 col-md-2 col-lg-2 col-xl-2 titulo"><b>TIPO RECURSO</b></div>
    <div class="col-10 col-sm-10 col-md-2 col-lg-2 col-xl-2 titulo"><b>GESTOR</b></div>
  </div>

  <div *ngFor="let recurso of recursos">
    <app-recurso [recurso]="recurso" (recursoSeleccionado)="verDatos($event)"></app-recurso>
  </div>
  <!-- Modal recurso-->
  <div class="modal fade" id="modalRecurso" tabindex="-1" role="dialog" aria-labelledby="datosRecurso" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datosRecurso"><b>Datos Completos del Recurso</b> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-recurso-ficha *ngIf='recursoVerDatos' [recurso]='recursoVerDatos' (recursoEliminar)='onRecursoEliminar($event)'
            (recursoEditar)='onRecursoEditar($event)'></app-recurso-ficha>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn text-white" data-dismiss="modal" (click)="ngOnInit()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
