<div class="container-fluid">
  <div class="row">
    <div class="col col-md-8 escudo p-5">
      <img class="cenad" [alt]="escudoCenad" [src]="pathImg" />
    </div>
    <div class="col col-md-4 enlaces p-4 mt-5">
        <h3><fa-icon [icon]="faEnlace"></fa-icon><u><strong>&nbsp; Enlaces más importantes</strong></u></h3>
        <ul>
          <br>
          <li><a routerLink="#">
            <fa-icon [icon]="faCalendario"></fa-icon>&nbsp;Calendario</a></li>
          <br>
          <li><a [routerLink]="['consultaRecursos', idCenad]" routerLinkActive="router-link-active">
            <fa-icon [icon]="faRecurso"></fa-icon>&nbsp;Consultar Recursos</a></li>
          <br>
          <li><a routerLink="#">
            <fa-icon [icon]="faCartografia"></fa-icon>&nbsp;Cartografía</a></li>
          <br>
          <li><a routerLink="#">
            <fa-icon [icon]="faSolicitar"></fa-icon>&nbsp;Solicitar Recurso</a></li>
        </ul>
    </div>
  </div>
</div>
