<div class="row mb-2">
  <hr class='w-100'>
  <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4"><a class="" data-toggle="modal"
      data-target="#modalCenad" (click)='cenadSeleccionado.emit(cenad)'> {{cenad.nombre | uppercase}}</a></div>
  <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">{{provincia | titlecase}}</div>
  <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" *ngIf='cenad.usuarioAdministrador'><a class="" data-toggle="modal"
    data-target="#modalUsuarioAdministrador" (click)='usuarioAdministradorSeleccionado.emit(usuarioAdministrador)'>{{cenad.usuarioAdministrador.nombre | titlecase}}</a></div>
</div>
