h1 {
  color: #354f52;
}

.bienvenido {
  color: #52796f;
}

img.madoc {
  max-width: 200;
  max-height: 276;
}

div.filtro {
  border: 6px solid #354f52;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.btn {
  background: #97A97C;
}
