h1 {
  color: #354f52;
}

.bienvenido {
  color: #52796f;
}

.seleccione {
  color: #84a98c;
}

.busqueda {
  color: #84a98c;
}

.lista, li {
  color: #354f52;
}

img.madoc {
  max-width: 200;
  max-height: 276;
}


#mapa {
	background: url("../../../assets/spain.png") no-repeat 0px 0px; width: 781px; height: 713px;
  zoom: 0.8; transform: scale(.8);
}

div.interactivo {
  display: block;
  width: 600px;
  align-content: center;
  margin: auto;
  padding-bottom: 2px;
}

div.filtro {
  border: 6px solid #52796f;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.no-existe {
  color: #2f3e46;
}

a:link {
 color: #354f52;
}

/* -ms-zoom: 0.7; -o-transform: scale(.7); -moz-transform: scale(.7); */
