<header>
  <div class="container">
    <!-- Barra de navegación más logo y menu-->
    <div class="nav row align-items-strech justify-content-center">
      <!-- LOGOTIPO -->
      <div class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/">
          <h2>SICENAD</h2>
        </a>
        <span>&nbsp; <fa-icon class="color-0" [icon]="faDotCircle"></fa-icon></span>
        <p>&nbsp;Sicenad 2.0</p>
      </div>
      <!-- Menu de Navegación-->
      <nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
        <!-- align-items-stretch: para que los tres div se repartan el espacion disponible por igual// flex-wrap: en un tamaño extra pequeño los elementos se pongan uno debajo de otro //flex-sm-nowrap: en un tamaño pequeño se pongan una al lado del otro-->
        <a routerLink="enlace1" class="color-1 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <!--Con Flex-Column hacemos que el  texto este arriba y el icono abajo-->
            <span>ENLACE 1</span>
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
        </a>
        <a routerLink="enlace2" class="color-2 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <!--Con Flex-Column hacemos que el  texto este arriba y el icono abajo-->
            <span>ENLACE 2</span>
            <fa-icon [icon]="faDog"></fa-icon>
          </div>
        </a>
        <a routerLink="enlace3" class="color-3 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <!--Con Flex-Column hacemos que el  texto este arriba y el icono abajo-->
            <span>ENLACE 3</span>
            <span display="inline-block">
              <fa-icon [icon]="faBed"></fa-icon>&nbsp;&nbsp;<fa-icon [icon]="faBone"></fa-icon>
            </span>
          </div>
        </a>
        <a routerLink="enlace4" class="color-4 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <!--Con Flex-Column hacemos que el  texto este arriba y el icono abajo-->
            <span>ENLACE 4</span>
            <fa-icon [icon]="faUsersCog"></fa-icon>
          </div>
        </a>
      </nav>
    </div>
  </div>
</header>